body {
    background-color: #121212;
    color: #e0e0e0;
  }

  /* Sticky Navbar */
  .navbar {
    background-color: #1e1e1e;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar-brand,
  .nav-link {
    color: #e0e0e0;
  }

  .navbar-brand:hover,
  .nav-link:hover {
    color: #00bcd4;
  }
  
  .navbar-brand:visited{
    color: white;
  }

  .hero-section {
    background-color: #1e1e1e;
    padding: 12rem 0;
    text-align: center;
    background-image: url("./Assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
  }
  .hero-section h1{
    background-color: white;
    display: inline-block;
    color: #00bcd4;
    padding: 5px 15px;
    border-radius: 40px;
  }

  .scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    color: #00bcd4;
    padding: 0.5rem;
    height: 100px;
  }

  .scrolling-text span {
    display: inline-block;
    position: absolute;
    animation: scroll-left 10s linear infinite;
    font-size: 2rem;
    line-height: 80px;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(1500px);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: none;
  }

  .course-card img {
    height: 200px;
    object-fit: cover;
    width: 100%; 
}

  .course-card:hover {
    box-shadow: 0 0px 8px rgba(0, 213, 255, 0.564);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  .btn-primary {
    background-color: #00bcd4;
    border: none;
  }

  .btn-primary:hover {
    background-color: #008ba3;
  }

  .btn-secondary {
    background-color: #616161;
    border: none;
  }

  .btn-secondary:hover {
    background-color: #757575;
  }

  footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 1rem;
  }

  footer a {
    color: #00bcd4;
  }

  footer a:hover {
    color: #008ba3;
  }